@import url(./node_modules/normalize.css/normalize.css);

#app {
   width: 100%;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: white;
}

.header_pictures {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 15px;
  
}

