@import url(../node_modules/normalize.css/normalize.css);
@import './variables.scss'  ;

$main-color: #FF3E79;
$addition-color: #EAEAEA;
$secondary-color: #D9FFF5;  
* {
  -webkit-tap-highlight-color: transparent;
}

.button {
  display: flex;
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  background-color: #ff3e79;
  justify-content: center;
  align-items: center;
}

.header__nav--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.header__action {
  display: flex;
  gap: 20px;
  align-items: center;
}

.line__profile {
  display: flex;
  min-width: 2px;
  height: 32px;
  background-color: #eaeaea;
  margin-left: 15px;
}

.line__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.header__nav {
  display: flex;
  margin: 20px;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header {
  width: 100%;
}

.heading__text {
  display: flex;
  font-size: 12px;
  font-weight: 300;
}
.heading__text h1 {
  margin-left: 15px;
}

.separator {
  display: flex;
  width: 100%;
  height: 1px;
  border: none;
  background-color: aqua;
  margin-top: 10px;
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.button__right {
  display: flex;
  gap: 20px;
}

.header__left-side {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__Cent {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 20px;
  }
}


.main_title {
  display: flex;
  position: relative;
  color: #181c21;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 10px;
  
  &::before{
    content: "";
    width: 5px; 
    height: 50px; 
    background-color: #41f6d7; 
    margin-right: 20px; 
    border-radius: 0 10px 10px 0; 
    position: absolute;
    top: 16px;
    left: -10px;
  }
}

.main_list {
  display: flex;
  border: 2px #B8FFEC solid;
  border-radius: 6px;
  width: 246px;
  height: 40px;
  margin-left: 10px;
  h2 {
    color: #181c21;
    display: flex;
    font-size: 15px;
    padding-left: 10px;
    opacity: calc(0.4);
  }
}


.main__menu--slider::-webkit-scrollbar {
  width: 0;
}

@media (min-width: $tablet-width) {
  .main__menu--slider {
    padding: 0 24px;
  }
}

@media (min-width: 1119px) {
  .main__menu--slider {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.main__menu--slider--item {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e7e82;
  -webkit-transition: 2s;
  transition: 2s;
}

.main__menu--slider--item-label {
  padding: 4px 32px;
  border: 3px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

.main__menu--slider--item-label:hover {
  border: 3px solid #f1d1da;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-transition: background-color 1s, border 1s;
  transition: background-color 1s, border 1s;
}

.main__menu--slider-radio-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.main__menu--slider-radio-button:checked + .main__menu--slider--item-label {
  background: #ffffff;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #d9fff5;
}

.main__menu--slider{
  padding: 0px 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  overflow: auto;
  @media (min-width: 768px) {
    padding: 0px 24px;
  }
}

.content_gap  {
 color: #181c21;
 width: 288px;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0.20px;
 word-wrap: break-word;
 padding-left: 16px;

}

.ReadMore {
  display: flex;
  color: #181c21;
  padding-left: 32px;
  position: relative;
}

.ReadMore { 
  gap: 10px;
}

.brands {
  padding-left: 16px  ;
  gap: 1.5rem;
  color: #7E7E82;
  width: 288px; 
  font-size: 16px; 
  font-family: Roboto; 
  font-weight: 400; 
  text-transform: uppercase; 
  line-height: 24px; 
  word-wrap: break-word
}

  .swiper {
    display: flex;
    
  }

  .custom-swiper{
    width: 100%;
    height: 100%;

  }
  .custom-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 18px 24px;
  }

  .custom-slide{
    position: absolute;
    display: flex !important;
    align-items: center;
    background-color: $white-color;
    border-radius: 6px; 
    max-width: 240px !important;
    justify-content: space-between;
    max-height: 72px !important; 
    padding: 20px 16px;
    min-width: 240PX;
    border: 3px #eaeaea9d solid
  }



.types_Technique {
  padding-left: 16px  ;
  gap: 1.5rem;
  color: #7E7E82;
  width: 288px; 
  font-size: 16px; 
  font-family: Roboto; 
  font-weight: 400; 
  text-transform: uppercase; 
  line-height: 24px; 
  word-wrap: break-word
}

.swiper-container {
  width: 100%;
  height: 100%; /* Задаем высоту контейнера */
}

.Prices_services {
  padding-left: 16px  ;
  gap: 1.5rem;
  color: #7E7E82;
  width: 288px; 
  font-size: 16px; 
  font-family: Roboto; 
  font-weight: 400; 
  text-transform: uppercase; 
  line-height: 24px; 
  word-wrap: break-word
}

.Information_services {
  color: #181c21;
 width: 288px;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0.20px;
 word-wrap: break-word;
 padding-left: 16px;
}

.Get_offer {
  color: #181c21;
  width: 220px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.20px;
  word-wrap: break-word;
  padding-left: 16px;
  font-weight: 900;
}

.Basement {
  opacity: 0.72; 
  text-align: center; 
  color: #7E7E82; 
  font-size: 14px; 
  font-family: Roboto;
  font-weight: 500; 
  line-height: 16px; word-wrap: break-word
}

