/* colors */
$accent-color: #ff3e79;
$additional-color: #d9fff5;
$indicator-color: #41f6d7;
$hover-buttons-color: #f1d1da;
$active--buttons-color: #ee9acb;
$white-color: #ffffff;
$black-color: #000000;
$font-color-light-gray: #7e7e82;
$font-color-black: #1b1c21;
$background-color: #f8f8f8; 
$gray-color: #eaeaea;
$swiper-theme-color: #b5b6bc;

/* transition */
$transition-fill: fill 0.5s;
$transition-font-color: color 0.7s;

/* resolution */
$tablet-width: 767px;
$desktop-width: 1119px;